Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Plugins/*/Intermediate
Plugins/Developer/RiderLink
Build
*_BuiltData.uasset
.idea
*.psd
*.blend
*.tif
*.jpg
*.fbx
*.png
*.wav
