Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Plugins/*/Intermediate
Plugins/Developer/RiderLink
Build
.idea
*_BuiltData.uasset

*.psd
*.tif
*.jpg
*.png

*.blend
*.fbx

*.wav
